
main {
  padding: 0 150px;
}

img {
  width: 90px;
}

section {
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px 0;
}

figure {
  text-align: center; 
  margin-bottom: 10px;
}

aside {
  flex: 2;
  justify-content: space-between;
}

h4 {
  flex: 1;
  align-self: center;
  font-size: 20px;
}

article {
  width: 33%;
}

.stars {
  justify-content: center; 
}

.fa-star {
  color: yellow;
}

.fa-star-o, .fa-star {
  font-size: 20px;
}

footer {
  position: absolute;
  bottom: 0;
}


/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ANIMATIONS------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

aside {
  position: relative;
  animation: asideAppear 1.8s both;
}

#compSkillsAside {
  animation-delay: .4s; 
}

#languageAside {
  animation-delay: .8s; 
}

@keyframes asideAppear {
  from {
    left: 1000px;
  }
  to {
    left: 0;
  }
}


/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ MEDIA QUERIES ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/


@media (max-width: 700px) {
  main {
    padding: 0 20px;
  }

  aside {
    margin-top: 20px;
  }

  article {
    width: 33%; 
  }

  .fa-star {
    font-size: 15px;
  }

  footer {
    position: static;
    margin-top: 10px;
  }

  section {
    flex-direction: column;
  }

  .sectionTitle {
    width: 100%;
  }
}







