.barContainer {
  width: 100%;
}

.bar {
  height: 20px; 
  background-color: #5fcf80;
  text-align: center;
  line-height: 1.4; 
  color: white;
  border-radius: 2px; 
  font-size: 15px; 
}



section {
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px 0;
}

h1 {
  margin-bottom: 15px; 
}

.comp li {
  margin: 10px 0;
}


.fa-star-o, .fa-star {
  font-size: 20px;
  color:  #5fcf80;
}

footer {
  position: absolute;
  bottom: 0;
}


/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ANIMATIONS------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/


/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ MEDIA QUERIES ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/


@media (max-width: 700px) {
  main {
    padding: 0 20px;
  }

  aside {
    margin-top: 20px;
  }

  article {
    width: 33%; 
  }

  .fa-star {
    font-size: 15px;
  }

  footer {
    position: static;
    margin-top: 10px;
  }

  section {
    flex-direction: column;
  }

/*  .sectionTitle {
    width: 100%;
  }*/
}







