
/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ HOME MAIN CONTENT ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

main {
  justify-content: center;
  background-color: #454857; 
  height: calc(100% - 200px);
}

#nameArticle {
  align-self: center;
  text-align: center; 
  color: #C0C0C0;
}

footer {
  position: absolute;
  bottom: 0; 
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ ANIMATIONS ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

main {
  animation: bg 2s both;
} 

#nameArticle {
  animation: name 2s both .8s;
}

@keyframes bg {
  from{ background-color: white;
  }
  to {
      background-color: #454857;
  }
}

@keyframes name {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 700px) {
  main {
    height: calc(100% - 232px);
  }
}




/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ ERROR PAGE ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#errorBtn {
  margin-top: 50px;
  padding: 10px;
  align-self: center;
  border: none;
  font-size: 12px;
  color: #708090;
  background-color: #f4f7f8;
  box-shadow: 1px 2px 3px lightgrey;
}









