
/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------  ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

main {
  height: 80%;
  animation: bg 2s both;
  justify-content: center;
  background-color: #454857; 
}

#nameArticle {
  align-self: center;
  text-align: center; 
  color: #C0C0C0;
}

footer {
  position: absolute;
  bottom: 0; 
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------ ANIMATIONS ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#nameArticle {
  animation: name 2s both .8s;
}

@keyframes bg {
  from{ background-color: white;
  }
  to {
      background-color: #454857;
  }
}

@keyframes name {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 700px) {
  main {
    height: calc(100% - 232px);
  }
}

