main {
  height: calc(100% - 232px);
  justify-content: center; 
}

#loisirs {
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center; 
  padding: 40px;
}

.loisirItem {
  margin: 0 60px;
}

.loisirItem img {
  padding: 5px;
}

footer {
  position: absolute;
  bottom: 0; 
}


/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ ANIMATIONS ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

.n1 img, .n3 img, .n5 img {
  animation: topImg 1s both;
  position: relative;
}

.n2 img, .n4 img, .n6 img {
  animation: bottomImg 1s both;
  position: relative;
  /*animation-delay: .3s; */
}

.n2 img{
  animation-delay: .1s;
}

.n3 img{
  animation-delay: .2s;
}

.n4 img{
  animation-delay: .3s;
}

.n5 img{
  animation-delay: .4s;
}

.n6 img{
  animation-delay: .5s;
}


@keyframes topImg{
  from {
    bottom: 1000px;
  }
  to {
    bottom: 0;
  }
}

@keyframes bottomImg {
  from {
    top: 1000px;
  }
  to {
    top: 0;
  }
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ MEDIA QUERIES ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/


@media (max-width: 700px) {
  main {
    height: 100%;
  }
  footer {
    position: static;
  }
}


@media (max-width: 1245px) {
  .loisirItem img {
  animation: border 3s both;
}

.n2 img{
  animation-delay: .2s;
}

.n3 img{
  animation-delay: .4s;
}

.n4 img{
  animation-delay: .6s;
}

.n5 img{
  animation-delay: .8s;
}

.n6 img{
  animation-delay: 1s;
}



@keyframes border {
  from {
      border-radius: 100%;
      opacity: 0
  }
  to {
      border-radius: 10px;
      opacity: 100%; 
  }
}
}

