main {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

#loisirs {
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.loisirItem {
  margin: 0 60px;
}

.loisirItem img {
  padding: 5px;
}

footer {
  position: absolute;
  bottom: 0; 
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ ANIMATIONS ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

.loisirItem img {
  animation: border 3s both;
}

.n2 img{
  animation-delay: .2s;
}

.n3 img{
  animation-delay: .4s;
}

.n4 img{
  animation-delay: .6s;
}

.n5 img{
  animation-delay: .8s;
}

.n6 img{
  animation-delay: 1s;
}



@keyframes border {
  from {
      border-radius: 100%;
      opacity: 0
  }
  50% {
      opacity: 40%;
  }
  75% {
      opacity: 75%; 
  }
  to {
      border-radius: 10px;
      opacity: 100%; 
  }
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
  /**************** **************** **************** ------ MEDIA QUERIES ------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/


@media (max-width: 700px) {
  .loisirItem {
    margin: auto; 
  }
  main {
    height: auto;
  }
  footer {
    position: static;
  }
}





